extends layout

block content
  .main
    .hero
      img.logo(src='images/logo.svg')
      //h4 coming soon#[span.cursor &#x2000]
    .colwrapper.flexcontainer
      .col.left
        .flexcontainer
          h2.col-title Join us on
            img.slacklogo(src='images/Slack_Monochrome_Black.svg')
          form.input-group(action='slack',method='POST')
            input.input-group__item.input__email#emailInput(type="email",name="email")
            input.input-group__item.input__submit#emailSubmit(type='submit',value='REQUEST INVITATION',disabled)
    //  .col.right
        .flexcontainer
          h2.col-title Upcoming Events...
          .event

  script(src='/javascripts/main.js')
