.profile-card {
    background-color: #FFF;
    color: #555;

    width: 70%;
    max-width: 300px;

    padding: 20px;
    border-radius: 8px;

    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);

}

.top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.image-wrapper {
    overflow: hidden;
    border-radius: 4px;
    flex-grow: 1;
    width: 100%;
    flex-basis: 120px;
    position: relative;
    margin: 2px;
}

.aspect-ratio {
    padding-bottom: 100%;
}

img{
    border-radius: 4px;
}

.details{
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin: 2px;
}

.mugshot {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.name {
    font-size: 1.4rem;
}
.twitter {
    font-size: 1.0rem;
    color: #AAA;
    margin-bottom: 10px;
}
.button{
    margin-top: auto;
    border: 1px solid #EEE;
    border-radius: 4px;
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 4px;
    font-size: 0.8rem;
    font-weight: 400;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.button:hover{
    background-color: #EEE;
    color: #666;
}

hr {
    opacity: 0.1;
    margin: 20px 0px;
}

.blurb {
    line-height: 1.4rem;
    font-weight: 400;
}
