/* Normalize */
input {
  margin: 0;
  padding: 0;
  background:white;
  border: none;
}

body {
  padding: 0px;
  margin: 0px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #F4E15B;
  color: #363636;
}

.main {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}
.logo {
    height: 90%;
    max-width: 120px;
}
.logo__small {
    width: 20%;
    max-width: 100px;
    max-height: 20%;
}


.colwraper {
}

.col {
    display: flex;
    flex: 2 1 45%;
    padding: 20px;
}
.col-title {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 80px; /* this should be equal to the height of the slack logo*/
}
.col.left {
    display: flex;
    flex-direction: column;
}
.col.right {
    display: flex;
    flex-direction: column;
}
.flexcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}





h4 {
    font-size: 1.2rem;
    margin: 20px auto;
    margin-top: 24px;
}

.cursor {
    min-width: 16px;
    padding-right: 0px;
    animation: flash step-end 1.4s;
    animation-iteration-count: infinite;
}




@keyframes flash{
  0% {
  }
  50% {
    background-color: #363636;
    color: #EEE;
  }
}



.slacklogo{
    height: 80px;
    margin-right: -24px;
    margin-left: -14px;
}

/* BEM naming is used for generic and new elements */
/*==== Forms ====*/
.input-group {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    min-width: 240px;
}

.input-group__item {
    border: 2px solid #363636;
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    text-align: center;
    color: #363636;
    font-weight: 700;
    margin-bottom: 8px;
    transition: all 300ms ease;
}

.input__email:focus {
    background-color: #FFF;
}
.input__submit {
    border: 0px;
/*.input__submit:hover, .input__submit:focus {*/
    background-color: #363636;
    color: #F4E15B;
}

.input__submit:disabled {
    background-color: transparent;
    color: rgba(54,54,54,.2);
}
